@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* --- HEADER --- */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #d2d6e2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    align-items: center;
    justify-content: center;
    display: flex;
}

#navbar li {
    list-style: none;
    position: relative;
    padding: 0 40px;
}

#navbar li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #1a1a1a;
    transition: 0.4s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color:seagreen;
}


/* --- HOME --- */

#start {
    background-image: url(img/b2.png); /* Bild bitte später noch einmal bearbeiten. */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#start h4 {
    padding-bottom: 15px;
}

#start h1,
#start p span {
    color: seagreen;
}

#start p span:hover {
    cursor: pointer;
}

#start button {
    background-color: #beccf876;
    font-weight: 700;
    font-size: 15px;
    color: rgba(46, 139, 86, 0.621);
    padding: 14px 80px 14px 65px;
    border: 0;
}

#start button:hover {
    color: seagreen;
    background-color: #beccf8d9;
}


/* -- PRODUCT SECTION --*/


#products {
    text-align: center;
}


#products p {
    color: seagreen;
}


#products a {
    text-decoration: none;
    color: seagreen;
}


#products a:hover {
    text-decoration: none;
}


#products .container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#products .product {
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}


#products .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}


#products .product img {
    width: 100%;
    border-radius: 20px;
}


#products .product .description {
    text-align: start;
    padding: 10px 0;
}


#products .product .description span {
    color: #606063;
    font-size: 12px;
}


#products .product .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}


#products .product .description i {
    font-size: 12px;
    color: #f9ba27;
}


#products .product .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: seagreen;
}


#products .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: seagreen;
    border: 1px solid seagreen;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#products .more:hover {
    text-decoration: underline;
}


/* -- BANNER -- */

#banner {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /*background-image: url("img-url");*/
    background-color: #bcc6f1;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 26px;
}

#banner h2 {
    color: #fff;
    padding: 20px 0;
    font-size: 40px;
}

#banner span {
    color: seagreen;
}

#banner button {
    padding: 17.5px 35px 17.5px 35px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.5s ease;
    background-color: #fff;
}

#banner button:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    color: seagreen;
}

/* -- MEDIA -- */
#media {
    background: #bcc6f1;
    padding: 5vh;
}

#media h2 {
    text-align: center;
    color: #fff;
    font-size: 34px;
}

#media p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #48595284;
}

#media span {
    font-size: 16.5px;
    transition: 0.4s ease;
}

#media span:hover {
    font-size: 16.9px;
}


/* -- LINK SECTION -- */

#link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#link .li-box {
    width: 220px;
    text-align: center;
    padding: 15px 15px;

    box-shadow: 18px rgba(0, 0, 0, 0.08);
    border: 3px solid #d2d6e2;
    background: whitesmoke;
    border-radius: 45px;
    margin: 25px 0;
    transition: 0.2s ease;
}

#link .li-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    cursor: pointer;
}

#link .li-box img {
    width: 75px;
}

/* -- NEWSLETTER -- */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px;

    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;   
}

#newsletter h4 span {
    color: #f9ce6a;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;   
}

#newsletter p span {
    color: #f9ba27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: seagreen;
    color: #fff;
    white-space: nowrap;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* -- FOOTER -- */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col a:hover {
    text-decoration: underline;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}


footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
