<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bau-Modul-Fachberater</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="about.css">
</head>
    <body>

        <section id="header">
            <a href="#"> <img src="img/logo.png" class="logo" alt=""> </a>

            <div>
                <ul id="navbar">
                    <li> <a href="index.html">Home</a> </li>
                    <li> <a href="shop.html">Shop</a> </li>
                    <li> <a class="active" href="about.html">About</a> </li>
                    <li> <a href="contact.html">Contact</a> </li>
                </ul>
            </div>
        </section>

        <section id="about-start" class="section-p1">
            <h4>Bau-Modul-Fachberater</h4>
            <h2>Fenster, Rolläden und mehr.</h2>
            <h1>Direkt ab Werk</h1>

            <div class="about">
                <p class="pit">Über uns:</p>
                
                <ul>
                    <li>
                        <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur saepe, provident eius autem aliquam quo maxime commodi veritatis recusandae atque laboriosam tempore quod unde aspernatur, distinctio ex mollitia quidem tenetur!
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil placeat esse numquam? Esse, vitae voluptatibus, doloribus soluta minima iure perferendis alias minus facere aspernatur exercitationem, animi incidunt at ullam.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores magni qui iusto et corporis accusantium est reprehenderit suscipit dicta. Fuga fugit explicabo similique tenetur optio, eligendi iusto illum dicta natus!
                        </p>
                    </li>
                    
                    
                </ul>

            </div>

            
        </section>

    </body>
</html>