<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bau-Modul-Fachberater</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" href="../static/plans.css" />
  </head>
  <body>
    <section id="header">
      <a href="#"> <img src="img/logo.png" class="logo" alt="" /> </a>

      <div>
        <ul id="navbar">
          <li><a href="index.html">Home</a></li>
          <li><a class="active" href="plans.html">Plans</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </section>

    <section id="shop-start" class="section-p1">
      <h4>Bau-Modul-Fachberater</h4>
      <h2>Fenster, Rolläden und mehr.</h2>
      <h1>Direkt ab Werk</h1>

      <button
        class="normal"
        onclick="document.getElementById('shop').scrollIntoView();"
      >
        Zu den Produkten
      </button>
    </section>

    <section id="shop" class="section-p1">
      <h2>Unsere Produkte</h2>
      <p>Fenster, Rolläden und mehr.</p>

      <div class="container">
        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>

        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>

        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>

        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>

        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>

        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>

        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>

        <div class="product">
          <img src="img/loading1.gif" alt="" />

          <div class="description">
            <span>Objekt</span>
            <h5>Weitere Details laden...</h5>

            <h4>42€</h4>
          </div>
        </div>
      </div>
    </section>

    <footer class="section-p1">
      <div class="col">
        <h4>Kontakt</h4>
        <p><strong>Adresse:</strong> Lorem-Straße, Straße 42, Bsp-Stadt</p>
        <p>
          <strong>Telefonnummer:</strong> +49 01 23456 789 / +49 01 2345 6789
        </p>
        <p><strong>Öffnungszeiten:</strong> 10:00 - 18:00. Mon - Sam</p>

        <div class="follow">
          <h4>Siehe auch</h4>
          <div class="icon">
            <a href="https://www.facebook.com/">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.twitter.com/">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/baumodulfachberater/">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <h4>Weitere Informationen</h4>
        <a href="#">Über uns</a>
        <a href="#">Lieferinformationen</a>
        <a href="#">Datenschutzrichtlinie</a>
        <a href="#">Allgemeine Geschäftsbedingungen (AGB)</a>
        <a href="#">Kontaktieren Sie uns</a>
      </div>

      <div class="copyright">
        <p>© 2022, phbruemmer - Not finished yet</p>
      </div>
    </footer>

    <script>
      // alert("Diese Seite ist zurzeit nicht vollständig!")
    </script>
  </body>
</html>
