<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="products.css">
</head>
<body>
    <section id="header">
        <a href="#"> <img src="img/logo.png" class="logo" alt=""> </a>

        <div>
            <ul id="navbar">
                <li> <a href="index.html">Zurück</a> </li>
            </ul>
        </div>

    </section>

    <section id="top">
        <div class="pro">
            <img src="img/loading1.gif" alt="">
        </div>

        <div class="des">
            <h2>Produkt Name</h2>
            <h4>42€</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem id numquam labore, obcaecati consequatur, fugit voluptates veniam nostrum accusamus ab ipsa perspiciatis incidunt. Necessitatibus in quidem hic nemo doloribus fugiat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maxime reprehenderit consequatur, blanditiis incidunt obcaecati error voluptatum sequi est suscipit voluptatibus odit doloribus voluptates harum, voluptas aliquid deleniti laborum enim.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem id numquam labore, obcaecati consequatur, fugit voluptates veniam nostrum accusamus ab ipsa perspiciatis incidunt. Necessitatibus in quidem hic nemo doloribus fugiat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maxime reprehenderit consequatur, blanditiis incidunt obcaecati error voluptatum sequi est suscipit voluptatibus odit doloribus voluptates harum, voluptas aliquid deleniti laborum enim.
            </p>
        </div>
    </section>

    <section id="buy" class="section-p1">
        <p>Um ein Produkt zu kaufen, müssen Sie ihre <span>E-Mail</span> in diesem Formular hinterlassen.</p>
        <input type="email" placeholder="E-Mail">
        <button class="normal" onclick="alert('Es wurde eine E-Mail an - email@email.de - gesendet. Bitte bestätigen Sie diese E-Mail, um fortzufahren.')">überprüfen</button>
        <h4>PayPal</h4>
    </section>
</body>
</html>